apiVersion: apps/v1
kind: Deployment
metadata:
  name: pvc-shrink-ray
  namespace: openshift-cnv
  labels:
    app: pvc-shrink-ray
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: pvc-shrink-ray
  template:
    metadata:
      labels:
        app: pvc-shrink-ray
    spec:
      priorityClassName: system-cluster-critical
      serviceAccountName: pvc-shrink-ray
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: pvc-shrink-ray
              topologyKey: kubernetes.io/hostname
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: pvc-shrink-ray
          image: ghcr.io/grandeit/pvc-shrink-ray:latest
          imagePullPolicy: Always
          env:
            - name: GOMEMLIMIT
              value: "55MiB"
          ports:
            - containerPort: 8443
              name: https
              protocol: TCP
          volumeMounts:
            - name: certs
              mountPath: /cert/server/certs
              readOnly: true
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 250m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: certs
          secret:
            secretName: pvc-shrink-ray-certs
